
#ActionList {
  -moz-binding: url("__Package.OverlayBaseURL__bindings.xml#ActionList");
}

button.ActionButton {
  -moz-binding: url("__Package.OverlayBaseURL__bindings.xml#ActionButton");
}

#Console {
  -moz-binding: url("__Package.OverlayBaseURL__bindings.xml#Console");
}
